/*palette
grigio background: #e4e3df
verde acqua: #27c39e
nero navbar: #464646
bianco panna: #f7f4ed
*/

@font-face {
	font-family:'OpenSans-Regular';
	src:local('OpenSans-Regular'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family:'OpenSans-Bold';
	src:local('OpenSans-Bold'), url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
html, body {
	height:100%;
	width:100%;
	background-color:#e4e3df;
	color:black;
	text-align:center;
}

*{
	font-family: OpenSans-Regular;
	font-size:medium;
}
b{
	font-family: OpenSans-Bold;
	font-size:medium;
}
hr{
	border:none;
	height:1pt;
	color:#27c39e;
	background-color:#27c39e;
	margin:3pt;
}
/*bottoni e link*/
a, a:hover, a:visited, button{ 
	text-decoration:none;
	font-weight:900;
	text-transform:uppercase;
}
/*classe bottone scritta celeste su sfondo bianco*/
.play, .play:hover, .play:focus{
	background-color:#f7f4ed;
	color:#27c39e;
	font-weight:bold;
}
/*classe bottone scritta bianca su sfondo celeste*/
.around, .around:hover, .around:focus{
	background-color:#27c39e;
	color:#f7f4ed;
	font-weight:bold;
}

/***********************************STRUTTURA*/

.navbar {
	color:#27c39e !important;
	background-color:#464646;
	margin-bottom:0;
	height:25pt;
	position:fixed;
	width:100%;
}
#navbar{
	top:0;
}
#logoNav img{
	height:25pt;
	margin-top: -5pt;
}
.navbar button{
	float:right;
	margin:5pt;
	border:1pt solid #27c39e;
}

#container, #containerMappa{
	height:97%;
	width:100%;
	position:absolute;
	top:0;
	padding-top:35pt;
}

#bottom{
	margin:0;
	padding:0;
	background-color:#464646;
}
#footer{
	max-height:3%;
	min-height:25pt;
	line-height:25pt;
	background-color:#464646;
	border-top:1pt solid black;
}
#footer a{
	color:#27c39e;
	font-size:small;
}

/***********************************INDEX*/
#cortina{
	width:100%;
	height:100%;
	position:absolute;
	z-index:99;
	background-color:white;
	opacity: 0.6;
}

#header{
	height:50%;
	/*background: #27c39e url('../img/bologna.jpg') center center no-repeat;*/
	background-color: #27c39e;
	background-image:url('../img/bologna.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	border-bottom:5pt solid #27c39e;
	margin:0;
	padding:0;
}

#page{
	height:50%;
}

.block, .block:hover, .block:visited{
	width:50%;
	min-height:50%;
	max-height:50%;
	float:left;
	color:white;
	padding:2pt;
	text-decoration:none;
}
.block img{
	height:65%;
}
.blo1{
	/*background-color:#912A62;*/
	background:#942d74 url('../img/1_near.png') center center no-repeat;
}
.blo2{
	/*background-color:#2D912A;*/
	background:#428c7d url('../img/2_search.png') center center no-repeat;
}
.blo3{
	/*background-color:#DE56A0;*/
	background:#9bcc5f url('../img/3_map.png') center center no-repeat;
}
.blo4{
	/*background-color:#319FAB;*/
	background:#e45141 url('../img/4_best.png') center center no-repeat;
}


/***********************************LOADER*/
#loader{
	background: #e4e3df url('../img/loader.gif') no-repeat center center;
	position:absolute;
	width:2%;
}
.centrato{	/*lista parchi*/
	padding:46%;
}
.fixato{	/*parco aperto*/
	padding:48%;
}

/************************************VICINI*/
#parchiVicini{
	padding:5%;
}

.parco, .parco:hover, .parco:visited, .parco:focus{
	display:block;
	height:100pt;
	width:100%;
	margin-bottom:5pt;
	background-color:#27c39e;
	color:#f7f4ed;
}
.parco:last-of-type{
	margin-bottom:18pt;
}
.parco img{
	display:block;
	margin:5pt;
	margin-top:25pt;
	height:50pt;
	width:50pt;
	float:left;
}

.desc{
	display:block;
	margin:2pt;
	height:100pt;
	line-height:20pt;
	overflow-y:auto;
	background: url("../img/click.png") no-repeat right 2pt center;
	background-size:20pt;
	padding-right:20pt;
}
.titolo{
	margin-top:3pt;
	font-size:large;
	font-weight:bold;
	text-transform:uppercase;
	line-height:12pt;
}
.eta{
	display:block;
	font-size:small;
	line-height:10pt;
	text-transform:none;
	font-weight: normal;
}
.orario{
	display:block;
	font-size:small;
	line-height:10pt;
	text-transform:none;
	font-weight: normal;
}
.voto{
	display:block;
}
.voto i{
	font-size:large;
}
.servizi{
	display:block;
	background-color:white;
	margin:0 5%;
	border-radius:10pt;
	text-align:center;
}
.servizi i{
	font-size:large;
}
.true{
	color:#31C331;
}
.false{
	color:#AC131C;
}

/************************************PARCO*/
#parcoAperto{
	margin:7%;
	padding:0;
	display:block;
	width:86%;
	background-color:#27c39e;
	color:#f7f4ed;
}
#parcoAperto h3{
	text-transform: uppercase;
	font-size:x-large;
	padding:1% 5%;
}
/****************foto*/
.big{
	width:50%;
	margin:2%;
	float:left;
}
.small{
	width:21%;
	margin:4% 2% 0 0;
	float:left;
}
.tiny{
	margin-top:20pt;
	width:15%;
	margin: 0 1.5%;
}
.spacing, .maxiSpacing{
	clear:both;
	width:100%;
	padding:1%;
}
.maxiSpacing{
	padding:3%;
}
/****************info*/
#parcoInfo{
	background-color:#f7f4ed;
	color:#27c39e;
	width:100%;
	padding: 2%;
	clear:both;
}
#parcoInfo div{
	width:100%;
	padding:0;
	margin:2%;
	clear:both;
}
/*#parcoInfo div:nth-of-type(2){
	border-top:1pt solid #27c39e;
	border-bottom:1pt solid #27c39e;
}*/
#parcoInfo div:nth-of-type(2) span{
	display:block;
}
#parcoInfo div:nth-of-type(3){
	margin:-2pt;
}
#parcoInfo div:nth-of-type(3) b{
	font-size:xx-large;
	line-height:32pt;
	font-weight:normal;
	margin:0;
	margin-right:5pt;
}
#parcoInfo div:nth-of-type(3) i{
	line-height:32pt;
	margin:0;
}

/*****************articolo*/
#articolo{
	max-height:200pt;
	overflow-y:auto;
}
#articolo p{
	clear:both;
	text-align:justify;
	font-size:small;
	margin:7% 5%;
	width:90%;
}
.flag{
	margin-right:5%;
	margin-top:-10pt;
}
#clickEng, #clickIta{	/*bottoni traduzione*/
	font-size:small;
	background-color:#f7f4ed;
	color:#27c39e;
	font-weight:bold;
	margin:5%;
	margin-top:-3%;
}
/*****************modal*/
#modalServizi .modal-body{
	text-align:left;
}
#modalServizi ul{
	list-style-type:none !important;
	padding:0;
	margin:0;
}
#modalServizi ul i{
	width:20pt;
	text-align:center;
}
#modalImg img{
	width:100%;
}
/*****************mappa*/
#map{
	background:#f7f4ed url('../img/loader.gif') no-repeat center center;
	color:#912A62;
	height:150pt;
	width:100%;
	margin-bottom:40pt;
}
#map1{
	background:#f7f4ed url('../img/loader.gif') no-repeat center center;
	color:#912A62;
	height:100%;
	margin-bottom:25pt;
}

/*************switch*/
#interruttore{
	padding-top:15pt;
}
.onoffswitch {
    position: relative; width: 200px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "DISTANZA MIN";
    padding-left: 10px;
    background-color: #27C39E; color: #F7F4ED;
}
.onoffswitch-inner:after {
    content: "DISTANZA MAX";
    padding-right: 10px;
    background-color: #F7F4ED; color: #27C39E;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 166px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

/*************CREDITS*/
#panel{
	padding:5%;
	color:white;
	background-color:#27c39e;
	height:100%;
	/*background-color:#428c7d;*/
}
#panel a{
	color:white;
}
#panel img{
	margin:5%;
}