/*palette
grigio background: #e4e3df
verde acqua: #27c39e
nero navbar: #464646
bianco panna: #f7f4ed
*/

@font-face {
	font-family:'OpenSans-Regular';
	src:local('OpenSans-Regular'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family:'OpenSans-Bold';
	src:local('OpenSans-Bold'), url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
html, body {
	height:100%;
	width:100%;
	background-color:#e4e3df;
	color:black;
	text-align:center;
}

*{
	font-family: OpenSans-Regular;
	font-size:medium;
}
b{
	font-family: OpenSans-Bold,;
	font-size:medium;
}
a, a:hover, a:visited{ 
	text-decoration:none;
	font-weight:900;
	/*text-transform:uppercase*/}
hr{
	border:none;
	height:1px;
	color:white;
	background-color:red;
	margin:0;
}

/***********************************STRUTTURA*/

.navbar {
	color:#27c39e !important;
	background-color:#464646;
	margin-bottom:0;
	height:25pt;
	/*border-bottom:1pt solid #27c39e;*/
}
.navbar img{
	height:25pt;
	margin-top: -5pt;
}
.navbar button{
	float:right;
	margin:5pt;
	background-color:#f7f4ed;
	border:1pt solid #27c39e;
	text-transform:uppercase;
	font-weight:bold;
}
.navbar button, .navbar button:hover{
	color:#27c39e;
}

#container, #containerMappa{
	height:97%;
	width:100%;
	position:absolute;
	top:0;
	padding-top:35pt;
}

#bottom{
	margin:0;
	padding:0;
	background-color:#464646;
}
#footer{
	max-height:3%;
	min-height:25pt;
	line-height:25pt;
	background-color:#464646;
	border-top:1pt solid black;
}
#footer a{
	color:#27c39e;
	font-weight:normal;
	font-size:small;
}

/***********************************INDEX*/

#header{
	height:50%;
	background: #27c39e url('../img/bologna.jpg') center center no-repeat;
	border-bottom:5pt solid #27c39e;
	margin:0;
	padding:0;
}

#page{
	height:50%;
}
.block, .block:hover, .block:visited{
	width:50%;
	height:50%;
	float:left;
	color:white;
	padding:8% 0;
	text-decoration:none;
}
.block i{
	display:block;
	margin-top:3pt;
}
.blo1{	background-color:#912A62;	}
.blo2{	background-color:#2D912A;	}
.blo3{	background-color:#DE56A0;	}
.blo4{	background-color:#319FAB;	}



/************************************VICINI*/
#loader{
	background: #e4e3df url('../img/loader.gif') no-repeat center center;
	position:absolute;
	padding:46%;
	width:2%;
}

#parchiVicini{
	padding:5%;
}

.parco, .parco:hover, .parco:visited{
	display:block;
	height:74pt;
	width:100%;
	margin-bottom:6pt;
	background-color:#27c39e;
	color:#f7f4ed;
}
.parco img{
	display:block;
	margin:2pt;
	height:70pt;
	width:70pt;
	float:left;
}

.desc{
	display:block;
	margin:2pt;
	height:70pt;
	line-height:20pt;
	overflow-y:auto;
	background: url("../img/click.png") no-repeat right 2pt center;
	background-size:20pt;
	padding-right:20pt;
}
.titolo{
	font-size:medium;
	font-weight:bold;
	text-transform:uppercase;
}
.eta{
	width:50%;
	float:left;
	font-size:x-small;
}
.orario{
	width:50%;
	float:right;
	font-size:x-small;
	line-height:10pt;
}
.voto{
	width:50%;
	float:left;
	font-size:large;
}
.servizi{
	width:50%;
	float:right;
}
.servizi i{
	font-size:large;
	margin:0 2pt;
}
.servizi .true{
	color: green;
}
.servizi .false{
	color: red;
}

/************************************PARCO*/
#parcoAperto{
	margin:20pt 5% 50pt 5%;
	padding:0;
	display:block;
	width:90%;
	background-color:#27c39e;
	color:#f7f4ed;
}
/****************foto*/
.big{
	width:50%;
	margin:2%;
	float:left;
}
.small{
	width:21%;
	margin:4% 2% 0 0;
	float:left;
}
.tiny{
	width:15%;
	margin: 0 1.5%;
}
#galleriaTiny{
	clear:both;
	width:100%;
	padding: 0 5% 3% 5%;
}
/****************info*/
#parcoInfo{
	background-color:#f7f4ed;
	color:#27c39e;
	width:100%;
	padding: 2%;
}
#parcoInfo div{
	width:100%;
	padding:1%;
	margin:0;
	clear:both;
}
#parcoInfo div:nth-of-type(2){
	border-top:2pt solid #27c39e;
	border-bottom:2pt solid #27c39e;
}
#parcoInfo div:nth-of-type(2) span{
	margin:0;
	display:inline-block;
	width:49%;
}
/*****************articolo*/
#articolo{
	max-height:200pt;
	overflow-y:auto;
	padding:2%;
}
#articolo p{
	clear:both;
	text-align:justify;
	font-size:small;
}
/*****************mappa*/
#map{
	background:#f7f4ed url('../img/loader.gif') no-repeat center center;
	color:#912A62;
	height:150pt;
}
#map1{
	background:#f7f4ed url('../img/loader.gif') no-repeat center center;
	color:#912A62;
	height:100%;
	margin-bottom:25pt;
}
