@font-face {
	font-family:'OpenSans-Regular';
	src:local('OpenSans-Regular'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family:'OpenSans-Bold';
	src:local('OpenSans-Bold'), url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
html, body {
	height:100%;
	width:100%;
	background-color:#f7f4ed;
	color:black;
	text-align:center;
}

*{
	font-family: OpenSans-Regular;
	font-size:medium;
}
b{
	font-family: OpenSans-Bold,;
	font-size:medium;
}
a, a:hover{ 
	text-decoration:none;
	font-weight:900;
	text-transform: uppercase;
}

/*********NAVBAR*/
.navbar {
	color:#27c39e !important;
	background-color:#464646;
	margin-bottom:0;
	height:25pt;
	/*border-bottom:1pt solid #27c39e;*/
}
.navbar img{
	height:25pt;
	margin-top: -5pt;
}
.navbar button{
	float:right;
	margin:5pt;
	background-color:#f7f4ed;
	border:1px solid #27c39e;
	text-transform:uppercase;
	font-weight:bold;
}
.navbar button, .navbar button:hover{
	color:#27c39e;
}
/*****************/

#container{
	height:95%;
	width:100%;
	position:absolute;
	top:0;
	padding-top:35pt;
}
#header{
	height:50%;
	background: #27c39e url('../img/bologna.jpg') center center no-repeat;
	border-bottom:5pt solid #27c39e;
	margin:0;
	padding:0;
}
#page{
	height:50%;
}
.block, .block:hover{
	width:50%;
	height:50%;
	float:left;
	color:white;
	padding:8% 0;
	text-decoration: none;
}
.block i{
	display:block;
	margin-top:3pt;
}
.blo1{	background-color:#912A62;	}
.blo2{	background-color:#2D912A;	}
.blo3{	background-color:#DE56A0;	}
.blo4{	background-color:#319FAB;	}

/*********FOOTER*/
#footer{
	height:5%;
	background-color:#464646;
	border-top:1px solid black;
}
#footer a{
	color:#27c39e;
	font-weight:normal;
	font-size:x-small;
	padding:3pt;
}
/***************/