/*palette
grigio background: #e5e5e5;
verde acqua: #27c39e
nero navbar: #464646
bianco panna: #f7f4ed
viola jolly: #912A62;
*/

@font-face {
	font-family:'OpenSans-Regular';
	src:local('OpenSans-Regular'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family:'OpenSans-Bold';
	src:local('OpenSans-Bold'), url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
html, body {
	height:100%;
	width:100%;
	background-color:#e5e5e5;
	color:#27c39e;
	text-align:center;
}

*{
	font-family: OpenSans-Regular;
	font-size:medium;
}
b{
	font-family: OpenSans-Bold;
	font-size:medium;
}
/*****************************************HR*/
hr{
	border:none;
	height:1pt;
	color:#27c39e;
	background-color:#27c39e;
	margin:3pt;
}
hr.purpleHr{
    border: 0;
    height: 1px;
    background: #912A62;
    background-image: -webkit-linear-gradient(left, #e5e5e5, #912A62, #e5e5e5); 
    background-image:    -moz-linear-gradient(left, #e5e5e5, #912A62, #e5e5e5); 
    background-image:     -ms-linear-gradient(left, #e5e5e5, #912A62, #e5e5e5); 
    background-image:      -o-linear-gradient(left, #e5e5e5, #912A62, #e5e5e5); 
}
hr.blueHr{
    border: 0;
    height: 1px;
    background: #27c39e;
    background-image: -webkit-linear-gradient(left, #e5e5e5, #27c39e, #e5e5e5); 
    background-image:    -moz-linear-gradient(left, #e5e5e5, #27c39e, #e5e5e5); 
    background-image:     -ms-linear-gradient(left, #e5e5e5, #27c39e, #e5e5e5); 
    background-image:      -o-linear-gradient(left, #e5e5e5, #27c39e, #e5e5e5); 
}
/**************************************TITOLI*/
h1{			/*titolo index*/
	font-size:large;
	font-weight:bold;
	width:100%;
	margin:0;
	padding:1%;
	color: #f7f4ed;
	text-transform:uppercase;
	background-color:#27c39e;
	opacity:0.9;
}
h2, h2 span{	/*titoli pagine*/
	font-size:x-large;
	font-weight:bold;
	width:100%;
	margin-top:0;
	margin-bottom:5%;
}
h3{				/*spiegazioni pagine*/
	font-size: large;
	width:100%;
	margin:5% 0;
}

/*******************************LINK*E*BOTTONI*/
a, a:hover, a:visited, button{ 
	text-decoration:none;
	font-weight:900;
	text-transform:uppercase;
}
.around, .around:hover, .around:focus{	/*nuvoletta mappa*/
	background-color:#27c39e;
	color:#f7f4ed;
	font-weight:bold;
	max-width:150pt;
	overflow:hidden;
}
.btn-default, .btn-default:hover, .btn-default:focus{
	background-color:#f7f4ed;
	color:#27c39e;
	border:1pt solid #cccccc;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus{
	background-color:#27c39e;
	color:#f7f4ed;
	border:1pt solid #27c39e;
}
.btn-success, .btn-success:hover, .btn-success:focus{
	background-color:#912A62;
	color:#f7f4ed;
	border:1pt solid #912A62;
}
.purple{
	color:#912A62;
}
/**************************************INPUT*/

label{
	display:block;
	text-align:left;
	font-weight:normal;
	font-size:large;
	padding:1%;
}
textarea{
	min-height:70pt;
}
.input-group, .form-group{
	width:100%;
	margin-bottom:2%;
	clear:both;
}
.input-group-addon{
	width:27%;
	text-align:left;
	background-color:#27c39e;
	color:#f7f4ed;
	font-size:medium;
}

.error{
	background-color: #fc8181;
	color:#f7f4ed;
}

/*************************************MODALI*/
.modal{
	color:black;
}
.modal-body p{
	text-align:justify;
}
.modal button{
	background-color:white;
	border:1pt solid #e5e5e5;
}

/***********************************STRUTTURA*/

#navbar{
	top:0;
	z-index:99;
}
.navbar {
	color:#27c39e !important;
	background-color:#464646;
	margin-bottom:0;
	height:25pt;
	position:fixed;
	width:100%;
}
.navbar button{
	float:right;
	margin:5pt;
}
#logoNav img{
	height:25pt;
	margin-top: -5pt;
	display:inline;
	margin-right:5pt;
}

#container{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	padding-top:35pt;
}
#containerMappa{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	padding-top:35pt;
	padding-bottom:25pt;
}

#bottom{
	margin:0;
	padding:0;
	background-color:#464646;
}
#footer{
	max-height:3%;
	min-height:25pt;
	line-height:25pt;
	background-color:#464646;
	border-top:1pt solid black;
}
#footer a{
	color:#27c39e;
	font-size:small;
}

/******************************CARICAMENTI*/
#cortina{
	width:100%;
	height:100%;
	position:absolute;
	z-index:99;
	background-color:#f7f4ed;
	opacity: 0.7;
}
#loader{
	position:absolute;
	padding-top:50%;
	width:100%;
	height:100%;
}

/**************************************MAPPE*/
#map{
	background:#f7f4ed url('../img/loader.gif') no-repeat center center;
	color:#912A62;
	height:150pt;
	width:100%;
	border:3pt solid #27c39e;
}
#parcoAperto #map{
	border:none;
}
#map1{
	background:#f7f4ed url('../img/loader.gif') no-repeat center center;
	color:#912A62;
	height:100%;
	margin-bottom:25pt;
}
.imgNuvoletta{
	width:60pt;
	margin-bottom:10pt;
}
#formIndirizzo #map{
	margin: 5% 0;
	border-radius: 5pt;
	height:100pt;
}

/***********************************INDEX*/
#header{
	position:relative;
	height:50%;
	margin:0;
	padding:0;
	border-bottom:3pt solid #27c39e;
	background: #f6f4ec url('../img/segnaposto.png') center center no-repeat;
	background-size: auto 30%;
}
#header .imgCover{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background: #f6f4ec url('../img/segnaposto.png') center center no-repeat;
	background-size:cover;
}
#header h1{
	position:absolute;
	bottom:0;
}

#page{
	height:49%;
	padding-bottom:23pt;
	background-color:#27c39e;
}
#underFooter{
	height:1%;
}

.block, .block:hover, .block:visited, .block:focus{
	position:relative;
	width:50%;
	min-height:50%;
	max-height:50%;
	float:left;
	color:white;
	padding:2pt;
	text-decoration:none;
}
.block span{
	position:absolute;
	width:99%;
	display:block;
	bottom:10%;
	font-weight:normal;
	font-size:small;
	color:white;
}
.blo1{
	background:#942d74 url('../img/1_near.png') center center no-repeat;
}
.blo2{
	background:#428c7d url('../img/2_search.png') center center no-repeat;
}
.blo3{
	background:#9bcc5f url('../img/3_map.png') center center no-repeat;
}
.blo4{
	/*background:#e45141 url('../img/4_best.png') center center no-repeat;*/
	background:#e45141 url('../img/promo_content.png') center center no-repeat;
	background-size: 100%;
}


/************************************VICINI*/
#parchiVicini{
	padding:5%;
}
#contatoreParchi{
	margin-top:5%;
}

.parco, .parco:hover, .parco:visited, .parco:focus{
	display:block;
	height:100pt;
	width:100%;
	margin-bottom:5pt;
	color:#f7f4ed;
	background:#27c39e url("../img/fune.png") no-repeat left bottom;
}
.parco:last-of-type{
	margin-bottom:18pt;
}
.parco img{
	display:block;
	margin:5pt;
	margin-top:25pt;
	height:50pt;
	width:50pt;
	float:left;
	border:3pt solid #f7f4ed;
	border-radius: 25pt
}

.desc{
	display:block;
	margin:2pt;
	height:100pt;
	line-height:20pt;
	overflow-y:auto;
	background: url("../img/click3.png") no-repeat right 2pt center;
	background-size:20pt;
	padding-right:20pt;
}
.titolo{
	margin-top:5%;
	font-size:large;
	font-weight:bold;
	text-transform:uppercase;
	line-height:12pt;
}
.eta{
	display:block;
	font-size:small;
	line-height:10pt;
	text-transform:none;
	font-weight: normal;
}
.orario{
	display:block;
	font-size:small;
	line-height:10pt;
	text-transform:none;
	font-weight: normal;
}
.voto{
	display:block;
}
.voto i{
	font-size:large;
}
.servizi{
	display:block;
	background-color:#f7f4ed;
	text-align:center;
	width:85%;
	margin:0 7.5%;
}
.servizi i{
	font-size:large;
	padding:2%;
}
.true{
	color:#31C331;
	/*color:#B1E2E4;*/
}
.false{
	color:#AC131C;
	/*color:#22433B;*/
}

/*switch*raggio*/
#interruttore{
	margin:-1% 5%;
	width:90%;
	position:relative;
}

/****************************NO*RISULTATI*/
#noPark{
	display:block;
	width:100%;
	background-size:40%;
	margin-top:-5%;
	z-index:-1;
}
#noPark img{
	width:50%;
}


/********************************PARCO*APERTO*/
#parcoAperto{
	margin:5%;
	padding:0;
	display:block;
	width:90%;
	background-color:#27c39e;
	color:#f7f4ed;
}
#titoloParcoAperto{
	margin:5% 5% -3% 5%;
	max-width:90%;
}

/*bottoni*/
#galleria .spacing a{		/*aggiungi foto - ho già foto*/
	float:right;
	color:white;
	padding-right:3%;
	padding-bottom:3%;
}
#articolo a{		/*aggiungi commenti*/
	float:right;
	margin:3%;
	margin-top:-3%;
	color:white;
	display:block;
}
#articolo #meta{	/*link destinazioni*/
	display:block;
	clear:both;
	width:94%;
	margin:3%;
}
#parcoInfo div:first-of-type button{	/*servizi*/
	width:94%;
	margin-left:2pt;
	border:1pt solid #cccccc;
}
#clickEng, #clickIta{	/*ita|eng version*/
	margin:5%;
	margin-top:-3%;
	float:left;
}
#address button{	/*come arrivare*/
	margin-top:2%;
}

/*immagini*/
.big{
	width:50%;
	margin:2%;
	float:left;
}
.small{
	width:21%;
	margin:4% 2% 0 0;
	float:left;
}
.tiny{
	margin-top:20pt;
	width:15%;
	margin: 0 1.5%;
	margin-bottom:-8%;
}
.spacing, .maxiSpacing{
	clear:both;
	width:100%;
	padding:1%;
}
.maxiSpacing{
	padding:3%;
}

/*informazioni*/
#parcoInfo{
	background-color:#f7f4ed;
	color:#27c39e;
	width:100%;
	padding: 2%;
	clear:both;
}
#parcoInfo div{
	width:100%;
	padding:0;
	margin:2%;
	clear:both;
}
#parcoInfo div:first-of-type i{
	padding:2pt;
}
#parcoInfo div:nth-of-type(2) span{
	display:block;
}
#parcoInfo div:nth-of-type(3){
	margin:-2pt;
}
#parcoInfo div:nth-of-type(3) b{
	font-size:xx-large;
	line-height:32pt;
	font-weight:normal;
	margin:0;
	margin:0 5pt;
}
#parcoInfo div:nth-of-type(3) i{
	line-height:32pt;
	margin:0;
}

/*articolo*/
#articolo{
	max-height:200pt;
	overflow-y:auto;
}
#articolo p{
	clear:both;
	text-align:justify;
	font-size:small;
	margin:7% 5%;
	width:90%;
}
.flag{
	margin-right:5%;
	margin-top:-10pt;
}

/*indirizzo*/
#address{
	background-color:#27c39e;
	color:#f7f4ed;
	padding: 3% 5%;
	font-size:small;
}
.accanto{
	padding:3pt;
}

/*modal*/
#modalServizi .modal-body{
	text-align:left;
}
#modalServizi ul{
	list-style-type:none !important;
	padding:0;
	margin:0;
}
#modalServizi ul i{
	width:20pt;
	text-align:center;
}
#modalImg img{
	width:100%;
}


/****************************************CREDITS*/
#panel{
	padding:5%;
	color:white;
	background-color:#27c39e;
	height:100%;
}
#panel p, #panel a{
	color:white;
	font-size:medium;
}
#panel p {
	margin-bottom:5%;
}
#panel img{
	margin:5%;
}
#panel h2{
	margin-bottom:5%;
}

/************************************INSERISCI*OK*/
#panel.ok p{
	text-align:justify;
}

/***************************INSERISCI*COORD*PARCO*/
#formIndirizzo{
	margin:10% 5%;
	width:90%;
}
#via{
	width:75%;
	float:left;
	border-radius: 5pt 0 0 0;
	border-right:0;
}
#civico{
	width:25%;
	border-radius: 0 5pt 0 0;
}
#citta{
	width:100%;
	border-radius:0;
	border-top:0;
	border-bottom:0;
}
#cap{
	width:50%;
	float:left;
	border-radius: 0 0 0 5pt;
	margin-bottom:2%;
}
#prov{
	width:50%;
	float:left;
	border-radius: 0 0 5pt 0;
	border-left:0;
	margin-bottom:5%;
}

/***************************INSERISCI*DATI*PARCO*/
#formInsParco{
	margin:10% 5%;
	width:90%;
}
#formInsParco .input-group{
	margin:2% 0;
}
#formInsParco .mezzo{	/*input metà block*/
	width:50%;
	text-align:center;
}
#formInsParco .mezzo:first-of-type{ /*min*/
	border-right:0;
}
#formInsParco .alert{
	width:48%;
	float:left;
	margin:1%;
	padding:2.5%;
	text-align:left;
}
#addPhoto{
	margin:8% 0;
}

/***************************INSERISCI*FOTO*PARCO*/
#containerFoto{
	margin:10% 5%;
	width:90%;
}
#containerFoto h3{
	font-size: large;
	margin-top:-2%;
}
#containerFoto div{
	padding:5% 0;
}
#containerFoto img{
	width:18%;
	margin:2%;
	border:2pt solid #27c39e;
}

/*modal*/
#caricaFoto a{
	width:50%;
	padding:5%;
	display:block;
	float:left;
	color:black;
	font-weight: normal;
}
#caricaFoto span{
	display:block;
}

/***********************************RICERCA*/
#container.ricerca h2{
	margin-top:5%;
	padding: 0 5%;
}
#container.ricerca #primo{		/*primo titolo*/
	text-align:left;
}
#container.ricerca #secondo{	/*secondo titolo*/
	text-align:right;
}

#container.ricerca form{
	width:90%;
	margin:5%;
	padding:8% 5%;
	background-color:#27c39e;
	color:#f7f4ed;
}
#container.ricerca #primo + form{
	background:#27c39e url("../img/fune.png") no-repeat left bottom 40%;
}
#container.ricerca #secondo + form{
	background:#27c39e url("../img/dondolo.png") no-repeat right -200% center;
}

#container.ricerca input{
	border-radius: 5pt;
	margin-bottom:4%;
}
#container.ricerca button{
	width:50%;
}
#container.ricerca hr{
	 margin:7% 0 5% 0;
}

/*******************************TROVATI*/
#trovati{
	margin-top:5%;
}